{{> head }}

{{> navbar }}

<body>
    <div class="row" style="width: 90%; margin: 15px auto;">
        <div class="col-4">
            <img src="assets/img/RGA00.jpg" alt="RGA7" class="img-thumbnail">
        </div>
        <div class="col-8">
            <h1>Ricardo Garcia</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim asperiores culpa nam architecto iure esse
                distinctio nihil, quisquam optio, placeat eius quidem facere. Eius dolor veritatis nulla maiores
                sapiente doloribus!</p>
        </div>
    </div>
</body>

{{>footer}}